* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
@font-face {
  font-family: "Inter";
  src: url("../src/font/Inter/Inter-VariableFont_opsz\,wght.ttf") format("truetype");
 
}


@font-face {
  font-family: "Montserrat";
  src: url("../src/font/Montserrat/Montserrat-VariableFont_wght.ttf") format("truetype");
 
}


@font-face {
  font-family: "Poppins";
  src: url("../src/font/Poppins/Poppins-Regular.ttf") format("truetype");
 
}


/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #000
}



.AdminDashboardPage {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

.AdminDashboard-header {
    width: 100%;
    height: 80px;
}

header.AdminDashboardheader {
    width: 100%;
    border-bottom: 1px solid #E5D9F2;
    padding: 15px 40px;
    height: 100%;
}

.Main-AdminDashboardheader {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}



.AdminDashboardheader-Search {
    width: 50%;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
}

.AdminDashboardheader-Search input {
    border-radius: 16px;
    border: 1px solid #E5D9F2;
    background: #FFF;
    width: 100%;
    padding: 12px 12px 12px 60px;
    color: rgba(94, 43, 151, 0.50);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.AdminDashboardheader-Search button {
    left: 20px;
    position: absolute;
    background: transparent;
    border: none;
}

.AdminDashboardheader-Search input::placeholder {color: rgba(94, 43, 151, 0.50);font-family: Inter;font-size: 16px;font-style: normal;font-weight: 400;line-height: normal;}

.AdminDashboardheader-Search button svg {
    width: 20px;
    height: 20px;
}

.AdminDashboardheader-btn-box {
    width: 22%;
    display: flex;
    justify-content: flex-end;
    gap: 15px;
    align-items: center;
}

.AdminDashboardheader-icon {
    border-radius: 500px;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
    cursor: pointer;
}

.AdminDashboardheader-icon:hover {
    background: #F3EBFF;
}

.AdminDashboardheader-icon svg {
    width: 15px;
    height: 15px;
}

.AdminDashboardheader-btn-box button {
    border-radius: 20px;
    background: linear-gradient(180deg, #8B5CF6 0%, #A855F7 100%);
    color: #FFF;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 142.857% */
    padding: 8px 22px;
    border: none;
}

button {
    cursor: pointer;
}

.AdminDashboard-box {
    width: 100%;
    height: calc(100% - 80px);
}

.Dashboard-box {
    width: 100%;
    height: 100%;
    padding-top: 55px;
}

.Dashboard-container {
    width: 100%;
    max-width: 1180px;
    margin: 0 auto;
}

.Dashboard-title {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 20px;
}

.Dashboard-title span {
    width: 50%;
}

.Dashboard-title span h2 {
    color: #1A1A1A;
    font-family: Poppins;
    font-size: 26px;
    font-style: normal;
    font-weight: 600;
    line-height: 33.794px; /* 129.977% */
}

.Dashboard-title span p {
    color: #555;
    font-family: Inter;
    font-size: 15.02px;
    font-style: normal;
    font-weight: 400;
    line-height: 22.529px; /* 150% */
}

.Dashboard-title button {
    border-radius: 15.395px;
    background: linear-gradient(180deg, #8B5CF6 0%, #A855F7 100%);
    border: none;
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 8px 18px;
    color: #FFF;
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 18.774px; /* 134.103% */
}


.Dashboard-tab-box {
    border-radius: 15.395px;
    border: 0.939px solid #EAEAEA;
    background: #FFF;
    width: 100%;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Dashboard-tab-box button {
    width: 24%;
    border-radius: 9.387px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding: 12px;
    border: none;
    background: transparent;
}

.Dashboard-tab-box button p {
    color: #0e0d0d;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 18.774px; /* 117.34% */
}


.Dashboard-tab-box button.active {
    border-radius: 9.387px;
    border: 0.939px solid rgba(0, 0, 0, 0.00);
    background: linear-gradient(180deg, #8B5CF6 0%, #A855F7 100%);
}

.Dashboard-tab-box button.active svg path {stroke: #fff;}

.Dashboard-tab-box button.active p {color: #ffffff;}


.Overview {
        width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px 0px;
}

.Overview-Users-box {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
}

.Overview-Users-card {
    width: 24%;
    border-radius: 15.02px;
    border: 0.939px solid #EAEAEA;
    background: #FFF;
    box-shadow: 0 0.939px 2.816px 0 rgba(0, 0, 0, 0.10), 0 0.939px 1.877px -0.939px rgba(0, 0, 0, 0.10);
    padding: 24px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.Overview-user-icon {
    width: 45px;
    height: 45px;
    border-radius: 31498264px;
    background: #F3E8FF;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Overview-user-title {
    width: 75%;
}

.Overview-user-title p {
    color: #555;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18.774px; /* 134.103% */
}

.Overview-user-title h2 {
    color: #1A1A1A;
    font-family: Inter;
    font-size: 26px;
    font-style: normal;
    font-weight: 600;
    line-height: 33.794px; /* 129.977% */
    padding: 8px 0px;
}

.Overview-user-title span {
    width: 100%;
    display: flex;
}

.Overview-user-title span svg {
    width: 15px;
    height: 15px;
}

.Overview-user-title span h3 {
    color: #00A63E;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18.774px; /* 134.103% */
}
span.red-color h3 {
    color: #F54900;
}

.Overview-user-icon.red-icon-bg {
    background: #FFEDD4;
}


.Recent-box {
    width: 48%;
    border-radius: 15.02px;
    border: 0.939px solid #EAEAEA;
    background: #FFF;
    height: 415px;
    padding: 22px;
}

.Recent-box h1 {
    color: #1A1A1A;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 22.529px; /* 112.647% */
    padding-bottom: 35px;
}

.Recent-Activity-box {
    width: 100%;
    height: 280px;
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 15px;
    justify-content: flex-start;
}

.Recent-Activity-list {
    width: 100%;
    border-bottom: 0.939px solid #EAEAEA;
    padding: 15px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Recent-Activity-title {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 90%;
    gap: 10px;
}

.Recent-Activity-icon {
    border-radius: 31498264px;
    background: #F3E8FF;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Recent-Activity-icon svg {
    width: 15px;
    height: 15px;
}

.Recent-Activity-title span {
    width: 75%;
}

.Recent-Activity-title span h2 {
    color: #1A1A1A;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 18.774px; /* 117.34% */
}

.Recent-Activity-title span p {
    color: #555;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 15.02px; /* 107.283% */
}

.Recent-Activity-list h4 {
    border-radius: 31498264px;
    border: 0.939px solid rgba(0, 0, 0, 0.00);
    background: #DCFCE7;
    color: #008236;
    font-family: Inter;
    font-size: 11.265px;
    font-style: normal;
    font-weight: 500;
    line-height: 15.02px; /* 133.333% */
    padding: 4px 10px;
}

.Reviewers-Month-box {
    width: 100%;
    height: 280px;
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
}

.Reviewers-Month-list {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Reviewers-Month-title {
    width: 90%;
    display: flex;
    align-items: center;
    gap: 12px;
}

.Reviewers-Month-title h4 {
    color: #FFF;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 22.529px; /* 160.924% */
    border-radius: 31498264px;
    background: linear-gradient(180deg, #8B5CF6 0%, #A855F7 100%);
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Reviewers-Month-icon {
    width: 38px;
    height: 38px;
}

.Reviewers-Month-icon img {
    width: 100%;
    height: 100%;
}

.Reviewers-Month-title span h2 {
    color: #1A1A1A;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 18.774px; /* 117.34% */
}

.Reviewers-Month-title span p {
    color: #555;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 15.02px; /* 107.283% */
}


.Reviews {
    width: 100%;
    padding-top: 30px;
}

.Main-Reviews-box {
    width: 100%;
    border-radius: 15.02px;
    border: 0.939px solid #EAEAEA;
    background: #FFF;
    padding: 24px;
}

.Reviews-heading {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 30px;
}

.Reviews-heading h1 {
    color: #1A1A1A;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 22.529px; /* 112.647% */
}

.Reviews-heading span {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
}

.Reviews-heading span button {
    border-radius: 15.395px;
    border: 0.939px solid #EAEAEA;
    background: #FFF;
    color: #555;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 18.774px; /* 134.103% */
    padding: 7px 14px;
}

.Reviews-box {
    width: 100%;
    height: 400px;
    overflow: auto;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
}

.Reviews-box-list {
    width: 100%;
    border-bottom: 0.939px solid #EAEAEA;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 20px 0px;
}

.Reviews-box-list-title {
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

.Reviews-box-list-btn {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 8px;
}

.Reviews-box-list-dp {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
}

.Reviews-box-list-dp span {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}

.Reviews-box-list-dp img {
    width: 34px;
    height: 34px;
}

.Reviews-box-list-dp span h2 {
    color: #1A1A1A;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 18.774px; /* 117.34% */
}

.Reviews-box-list-dp span h3 {
    color: #555;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 18.774px; /* 117.34% */
}

.Reviews-box-list-dp span h4 {
    color: #5E2B97;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 18.774px; /* 117.34% */
}

.Reviews-box-list-title p {
    color: #1A1A1A;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18.774px; /* 134.103% */
}

.Reviews-box-list-title h3 {
    color: #555;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 15.02px; /* 107.283% */
}

.Reviews-box-list-btn button {
    border-radius: 9.387px;
    border: 0.939px solid #EAEAEA;
    background: #FFF;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 7px 20px;
    gap: 8px;
    color: #00A63E;
    font-family: Montserrat;
    font-size: 13.142px;
    font-style: normal;
    font-weight: 500;
    line-height: 18.774px; /* 142.857% */
}

.Reviews-box-list-name {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.Reviews-box-list-name h2 {
    color: #1A1A1A;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 22.529px; /* 140.808% */
}

.Reviews-box-list-name span {
    display: flex;
    align-items: flex-start;
}

.Management-box-list-btn {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 8px;
    position: relative;
}

.Management-box-list-btn button {
    border-radius: 9.387px;
    border: 0.939px solid #EAEAEA;
    background: #FFF;
    padding: 8px 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    color: #555;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 18.774px; /* 134.103% */
}

.actions-dropdown {
    position: absolute;
    right: 0px;
    top: 45px;
    z-index: 999;
    border-radius: 6.8px;
    border: 1px solid #EAEAEA;
    background: #FFF;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.10), 0 2px 4px -2px rgba(0, 0, 0, 0.10);
    padding: 15px;
    width: 100%;
}

.actions-dropdown ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
}

.actions-dropdown ul li {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 12px;
    color: #555;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
    cursor: pointer;
}

button.Add-User {background: linear-gradient(180deg, #8B5CF6 0%, #A855F7 100%) !important;color: #fff !important;}


li.red {
    color: #F54900 !important;
}

li.verify{
    color: #00A63E;
}


button.View-btn {
    color: #5E2B97;
}

.Pending-Reports-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    height: 400px;
    overflow: auto;
}

.Pending-Reports-list {
    width: 100%;
    border-radius: 15.395px;
    border: 0.939px solid #FFD6A7;
    background: #FFF7ED;
    padding: 15px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.Pending-Reports-title {
    width: 90%;
}

.Pending-Reports-title span {display: flex;align-items: center;gap: 10px;}

.Pending-Reports-title span h2 {
    color: #1A1A1A;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 22.529px; /* 140.808% */
}

.Pending-Reports-title p {
    color: #555;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18.774px; /* 134.103% */
    padding: 10px 0px;
}

.Pending-Reports-btn-box {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
}

.Pending-Reports-btn-box button {
    border-radius: 9.387px;
    border: 0.939px solid #EAEAEA;
    background: #FFF;
    padding: 10px;
    color: #555;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 18.774px; /* 134.103% */
}

button.Take {
    border: 0.939px solid #EF7235;
    color: #EF7235;
}

button.Dismiss {
    color: #fff;
    border-radius: 9.387px;
    background: #00A63E;
    border: 0.939px solid #00a63e;
}

.Pending-box {
    cursor: pointer;
    border-radius: 31498264px;
    border: 0.939px solid rgba(0, 0, 0, 0.00);
    background: #FFEDD4;
    padding: 5px 16px;
}

.Pending-box p {
    color: #FB671E;
    font-family: Inter;
    font-size: 11.265px;
    font-style: normal;
    font-weight: 500;
    line-height: 15.02px; /* 133.333% */
}
